@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model ChameleonGUI.Models.Carriers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carriers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DotNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DotNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarrierName)
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress), @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.StateAddress) @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OosReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OosReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OosDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OosDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dd class="col-sm-10">
            <div id="map"></div>
       </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            L.mapquest.key = '@Configuration.GetSection("API")["Mapquest"]';

            console.log("Please work checkpoint 2");

            // 'map' refers to a <div> element with the ID map
            var map = L.mapquest.map('map', {
                center: [@Html.DisplayFor(model => model.Latitude), @Html.DisplayFor(model => model.Longitude)],
                layers: L.mapquest.tileLayer('map'),
                zoom: 12
            });

            L.mapquest.textMarker([@Html.DisplayFor(model => model.Latitude), @Html.DisplayFor(model => model.Longitude)], {
                text: `@Html.DisplayFor(model => model.CarrierName)`,
                subtext: '',
                position: 'right',
                type: 'marker',
                icon: {
                    primaryColor: '#333333',
                    secondaryColor: '#333333',
                    size: 'sm'
                }
            }).addTo(map);

        });

    </script>

}