@model X.PagedList.IPagedList<ChameleonGUI.Models.Carriers>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Carriers";
}

<h1>Carriers</h1>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Search by Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Dot Number
            </th>
            <th>
                Carrier Name
            </th>
            <th>
                Address
            </th>
            <th>
                OoS Reason
            </th>
            <th>
                OoS Date
            </th>
            <th>
                Status
            </th>
            <th>
                Latitude
            </th>
            <th>
                Longitude
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DotNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarrierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OosReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OosDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Number">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.MinimalWithItemCountText)