@model WashingtonChameleons.Models.ActiveCarriers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActiveCarriers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dbaname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dbaname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hmflag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hmflag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pcflag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pcflag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phystreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phystreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phycity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phycity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phystate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phystate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phyzip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phyzip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phycountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phycountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainlingState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainlingState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mcs150date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mcs150date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mcs150mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mcs150mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mcs150mileageYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mcs150mileageYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oicstate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oicstate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbrpowerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbrpowerUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DotNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
