@model IEnumerable<ChameleonGUI.Models.ActiveCarriers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LegalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dbaname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarrierOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hmflag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pcflag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phystreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phycity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phystate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phyzip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phycountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainlingState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mcs150date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mcs150mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mcs150mileageYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oicstate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbrpowerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LegalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dbaname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarrierOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hmflag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pcflag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phystreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phycity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phystate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phyzip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phycountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainlingState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mcs150date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mcs150mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mcs150mileageYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oicstate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbrpowerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverTotal)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DotNumber">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
