@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model WashingtonChameleons.Models.ChameleonTable

@{
    ViewData["Title"] = "Details";
}

@section Mapquest {

    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />

}

<div class="container">
    <h1>Details - <span class="text-primary">@Html.DisplayFor(model => model.CurrentName)</span></h1>
    <h4>Potential Chameleon Company</h4>
    <hr />

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th colspan="2" style="width: 24rem"></th>
                <th colspan="2" class="text-center" style="width: 24rem">Potential Chameleon Information</th>
                <th style="width: 12rem">
                    <span class="float-right">
                        <span aria-label="@Model.ConfidenceLevel.Value" style="color: @ChameleonUtils.markerColors[Model.ConfidenceLevel.Value]">

                            @for (int i = 0; i < Model.ConfidenceLevel.Value; i++)
                            {
                                <i class="fas fa-square"></i>
                            }

                        </span><a data-toggle="modal" data-target="#confidenceModal"><i class="fas fa-info-circle"></i></a>
                    </span>
                </th>
            </tr>
            <tr>
                <th style="width: 5rem">Dot Number</th>
                <th style="width: 10rem">Current Name</th>
                <th style="width: 15rem">Address</th>
                <th style="width: 10rem">Date Registered</th>
                <th style="width: 10rem">Contact Info</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.CurrentDotNumber</td>
                <td>@Html.DisplayFor(model => model.CurrentName)</td>
                <td>@Html.DisplayFor(model => model.StreetAddress), @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.ZipCode)</td>
                <td>@Html.DisplayFor(model => model.DateRegistered)</td>
                <td>
                    @Html.DisplayFor(model => model.ContactNumber)
                    <br />
                    @Html.DisplayFor(model => model.ContactEmail)
                </td>
            </tr>
            <tr>
                <div id="map" style="height: 25rem">

                </div>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th colspan="5" class="text-center" style="width: 60rem">Former Company Information</th>
            </tr>
            <tr>
                <th style="width: 5rem">Dot Number</th>
                <th style="width: 10rem">Former Name</th>
                <th style="width: 15rem">Address</th>
                <th style="width: 10rem">Out of Service Date</th>
                <th style="width: 10rem">Out of Service Reason</th>
            </tr>
        </thead>
        <tbody>


            <tr>
                <td>@ViewBag.OCDotNumber</td>
                <td>@ViewBag.OCName</td>
                <td>@ViewBag.OCStreet, @ViewBag.OCCity, @ViewBag.OCState @ViewBag.OCZip</td>
                <td>@Html.DisplayFor(model => model.DateOoS)</td>
                <td>@ViewBag.OCOOSREASON</td>
            </tr>
        </tbody>
    </table>
    <a asp-action="Index"><button class="btn btn-primary">Back</button></a>
</div>

<!-- Confidence Rating Modal -->
<div class="modal fade" id="confidenceModal" tabindex="-1" role="dialog" aria-labelledby="Confidence Modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="confidenceModalLabel">Confidence Levels</h5>
            </div>
            <div class="modal-body">
                <h2>Confidence Level Criteria</h2>
                <div class="media border p-3"><div class="media-body">Criteria ratings are calculated by comparing the time between the closure and recreation of the chameleon company in question. Ratings of 1 are the least likely to be a potential chameleon company, while ratings of 5 are most likely. A high rating does not guarentee that the company is a chameleon company, but it makes it more likely.</div></div>
                <br />
                <table class="table">
                    <thead class="thead-dark">
                    <th>Criteria</th>
                    <th>Rating</th>
                    </thead>
                    <tbody>
                        @{
                            for (int x = 1; x <= 5; x++)
                            {
                                <tr>
                                    <td>@ChameleonUtils.confidenceCriteria[x]</td>
                                    <td>
                                        <span style="color: @ChameleonUtils.markerColors[x]">
                                            @for (int y = 1; y <= x; y++)
                                            {
                                                <i class="fas fa-square"></i>
                                            }
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            L.mapquest.key = '@Configuration.GetSection("API")["Mapquest"]';

            // 'map' refers to a <div> element with the ID map
            var map = L.mapquest.map('map', {
                center: [@Html.DisplayFor(model => model.Latitude), @Html.DisplayFor(model => model.Longitude)],
                layers: L.mapquest.tileLayer('hybrid'),
                zoom: 12
            });


                L.mapquest.textMarker([@Html.DisplayFor(model => model.Latitude), @Html.DisplayFor(model => model.Longitude)], {
                text: `@Html.DisplayFor(model => model.CurrentName)`,
                subtext: '@Html.DisplayFor(model => model.FormerName)',
                position: 'right',
                type: 'marker',
                    icon: {
                    primaryColor: '@ChameleonUtils.markerColors[Model.ConfidenceLevel.Value]',
                    secondaryColor: '#333333',
                    size: 'sm'
                }
            }).addTo(map);


        });

    </script>

}