@model PaginatedList<WashingtonChameleons.Models.ChameleonTable>
@{
    ViewBag.Title = "Possible Chameleon Companies";
}

<div class="container-fluid w-75 mx-auto" style="width: 95% !important">
    <h1 class="display-4">Potential Chameleon Companies</h1>
    <hr />
    <div id="toolbar" class="btn-toolbar">
        <div class="row">
            <div class="btn-group px-2 col-sm" role="group" aria-label="toolbar">
                <button id="btnList" type="button" class="btn btn-primary" disabled><i class="fas fa-list"></i></button>
                <button id="btnCard" type="button" class="btn btn-primary"><i class="fas fa-th"></i></button>
            </div>
            <form class="form-inline">
                @using (Html.BeginForm())
                {
                    <input name="SearchString" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <input id="rating" name="minRating" type="hidden" />
                    <a id="level1" onclick="#"><i id="block1" class="fas fa-square" style="color: #43464B"></i></a><pre> </pre>
                    <a id="level2" onclick="#"><i id="block2" class="fas fa-square" style="color: #43464B"></i></a><pre> </pre>
                    <a id="level3" onclick="#"><i id="block3" class="fas fa-square" style="color: #43464B"></i></a><pre> </pre>
                    <a id="level4" onclick="#"><i id="block4" class="fas fa-square" style="color: #43464B"></i></a><pre> </pre>
                    <a id="level5" onclick="#"><i id="block5" class="fas fa-square" style="color: #43464B"></i></a><pre> </pre>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                }
            </form>
        </div>
    </div>
</div>
<br />
<div id="table" class="w-75 mx-auto" style="width: 95% !important">
    <table class="table table-striped mx-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    Current Name
                </th>
                <th>
                    Former Name
                </th>
                <th>
                    Registered
                </th>
                <th>
                    Out of Service
                </th>
                <th>
                    Address
                </th>
                <th>
                    City
                </th>
                <th>
                    State
                </th>
                <th>
                    Zip Code
                </th>
                <th class="px-3">
                    Confidence
                    <a data-toggle="modal" data-target="#confidenceModal"><i class="fas fa-info-circle"></i></a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRegistered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOoS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        <span aria-label="@item.ConfidenceLevel.Value" style="color: @ChameleonUtils.markerColors[item.ConfidenceLevel.Value]">

                            @for (int i = 0; i < item.ConfidenceLevel.Value; i++)
                            {
                                <i class="fas fa-square"></i>
                            }

                        </span>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ChameleonId" class="btn btn-primary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="cards" class="container-fluid w-75" style="display: none">
    <div class="card-columns">

        @foreach (var item in Model)
        {
            <div class="card mb-3" style="max-width: 20rem">
                <div class="card-header bg-dark text-light" style="height: 7rem"><b>@Html.DisplayFor(modelItem => item.CurrentName)</b><br />Registered: @Html.DisplayFor(modelItem => item.DateRegistered)</div>
                <div class="card-header" style="height: 7rem">Formerly <b>@Html.DisplayFor(modelItem => item.FormerName)</b><br />Out of Service: @Html.DisplayFor(modelItem => item.DateOoS)</div>
                <div class="card-body" style="height: 7rem">

                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.StreetAddress),
                        @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State) @Html.DisplayFor(modelItem => item.ZipCode)
                    </p>
                </div>
                <div class="card-body">
                    <p>Confidence: <a data-toggle="modal" data-target="#confidenceModal"><i class="fas fa-info-circle"></i></a></p>
                    <span aria-label="@item.ConfidenceLevel.Value" style="color: @ChameleonUtils.markerColors[item.ConfidenceLevel.Value]">

                        @for (int i = 0; i < item.ConfidenceLevel.Value; i++)
                        {
                            <i class="fas fa-square"></i>
                        }

                    </span>
                </div>
                <div class="card-footer text-right">
                    <a asp-action="Details" asp-route-id="@item.ChameleonId" class="btn btn-primary">Details</a>
                </div>
            </div>
        }

    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="btn-group px-1 mx-auto pl-5" role="group" aria-label="toolbar">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-minRaring="@ViewData["minRating"]"
       class="btn btn-primary @prevDisabled">
        <i class="fas fa-arrow-left"></i>
    </a>
    <div class="btn"><span class="text-secondary">Page @Model.PageIndex / @Model.TotalPages</span></div>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-minRaring="@ViewData["minRating"]"
       class="btn btn-primary @nextDisabled">
        <i class="fas fa-arrow-right"></i>
    </a>
</div>

<!-- Confidence Rating Modal -->
<div class="modal fade" id="confidenceModal" tabindex="-1" role="dialog" aria-labelledby="Confidence Modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="confidenceModalLabel">Confidence Levels</h5>
            </div>
            <div class="modal-body">
                <h2>Confidence Level Criteria</h2>
                <div class="media border p-3"><div class="media-body">Criteria ratings are calculated by comparing the time between the closure and recreation of the chameleon company in question. Ratings of 1 are the least likely to be a potential chameleon company, while ratings of 5 are most likely. A high rating does not guarentee that the company is a chameleon company, but it makes it more likely.</div></div>
                <br />
                <table class="table">
                    <thead class="thead-dark">
                    <th>Criteria</th>
                    <th>Rating</th>
                    </thead>
                    <tbody>
                        @{
                            for (int x = 1; x <= 5; x++)
                            {
                                <tr>
                                    <td>@ChameleonUtils.confidenceCriteria[x]</td>
                                    <td>
                                        <span style="color: @ChameleonUtils.markerColors[x]">
                                            @for (int y = 1; y <= x; y++)
                                            {
                                                <i class="fas fa-square"></i>
                                            }
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <!-- Layout Toggle -->
    <script>

        $(document).ready(function () {

            $("#btnList").click(function () {

                $("#cards").fadeOut(250);
                $("#table").fadeIn(750);
                $("#btnList").prop("disabled", true);
                $("#btnCard").prop("disabled", false);

            });

            $("#btnCard").click(function () {

                $("#table").fadeOut(250);
                $("#cards").fadeIn(750);
                $("#btnCard").prop("disabled", true);
                $("#btnList").prop("disabled", false);

            });
        });

    </script>

    <!-- Crtiera Helper -->
    <script>

        // Colors

        var fc1;
       var fc2;
         var fc3;
         var fc4;
        var fc5;
        $(document).ready(function () {        

            $("#level1").hover(function () {

                fc1 = $("#block1").css("color");
                $("#block1").css("color", " @ChameleonUtils.markerColors[1] ");

            }, function () {

               $("#block1").css("color", fc1);

            });

            $("#level2").hover(function () {

                fc1 = $("#block1").css("color");
                fc2 = $("#block2").css("color");
                $("#block1").css("color", " @ChameleonUtils.markerColors[2] ");
                $("#block2").css("color", " @ChameleonUtils.markerColors[2] ");

            }, function () {

               $("#block1").css("color", fc1);
               $("#block2").css("color", fc2);

            });

            $("#level3").hover(function () {

                fc1 = $("#block1").css("color");
                fc2 = $("#block2").css("color");
                fc3 = $("#block3").css("color");
                $("#block1").css("color", " @ChameleonUtils.markerColors[3] ");
                $("#block2").css("color", " @ChameleonUtils.markerColors[3] ");
                $("#block3").css("color", " @ChameleonUtils.markerColors[3] ");

            }, function () {

               $("#block1").css("color", fc1);
               $("#block2").css("color", fc2);
               $("#block3").css("color", fc3);
            });

            $("#level4").hover(function () {

                fc1 = $("#block1").css("color");
                fc2 = $("#block2").css("color");
                fc3 = $("#block3").css("color");
                fc4 = $("#block4").css("color");
                $("#block1").css("color", " @ChameleonUtils.markerColors[4] ");
                $("#block2").css("color", " @ChameleonUtils.markerColors[4] ");
                $("#block3").css("color", " @ChameleonUtils.markerColors[4] ");
                $("#block4").css("color", " @ChameleonUtils.markerColors[4] ");

            }, function () {

              $("#block1").css("color", fc1);
               $("#block2").css("color", fc2);
               $("#block3").css("color", fc3);
               $("#block4").css("color", fc4);

            });

            $("#level5").hover(function () {

                fc1 = $("#block1").css("color");
                fc2 = $("#block2").css("color");
                fc3 = $("#block3").css("color");
                fc4 = $("#block4").css("color");
                fc5 = $("#block5").css("color");
                $("#block1").css("color", " @ChameleonUtils.markerColors[5] ");
                $("#block2").css("color", " @ChameleonUtils.markerColors[5] ");
                $("#block3").css("color", " @ChameleonUtils.markerColors[5] ");
                $("#block4").css("color", " @ChameleonUtils.markerColors[5] ");
                $("#block5").css("color", " @ChameleonUtils.markerColors[5] ");

            }, function () {

               $("#block1").css("color", fc1);
               $("#block2").css("color", fc2);
               $("#block3").css("color", fc3);
               $("#block4").css("color", fc4);
               $("#block5").css("color", fc5);

            });

            @if (ViewData["minRating"] != null) {

                    <text>
            $("#block" + "@ViewData["minRating"]").css("color", " @ChameleonUtils.markerColors[(int)ViewData["minRating"]] ");
            $("#rating").val( @ViewData["minRating"] )
            </text>

            }

            $("#level1").click(function () {

                $("#rating").val(1);

                fc1 = $("#block1").css("color");

                $("#block2").css("color", "#43464B");
                $("#block3").css("color", "#43464B");
                $("#block4").css("color", "#43464B");
                $("#block5").css("color", "#43464B");
            });

            $("#level2").click(function () {

                $("#rating").val(2);

                fc1 = $("#block1").css("color");
                fc2 = $("#block2").css("color");

                $("#block3").css("color", "#43464B");
                $("#block4").css("color", "#43464B");
                $("#block5").css("color", "#43464B");
            });

            $("#level3").click(function () {

                $("#rating").val(3);

                fc1 = $("#block1").css("color");
                fc2 = $("#block2").css("color");
                fc3 = $("#block3").css("color");

                $("#block4").css("color", "#43464B");
                $("#block5").css("color", "#43464B");
            });

            $("#level4").click(function () {

                $("#rating").val(4);

                fc1 = $("#block1").css("color");
                fc2 = $("#block2").css("color");
                fc3 = $("#block3").css("color");
                fc4 = $("#block4").css("color");

                $("#block5").css("color", "#43464B");

            });

            $("#level5").click(function () {

                $("#rating").val(5);

                fc1 = $("#block1").css("color");
                fc2 = $("#block2").css("color");
                fc3 = $("#block3").css("color");
                fc4 = $("#block4").css("color");
                fc5 = $("#block5").css("color");

            });

        });

    </script>
}


